---
const url = "https://api.twitch.tv/helix/streams";
const CLIENT_ID = "y1b3vqct87lqhyab64i28gy4qfaa35";
const TOKEN_API = "qnrw7pe00dlfxq1xf2uz87c0ktljya";

const respuesta = await fetch(url, {
  headers: {
    "Client-ID": CLIENT_ID,
    Authorization: `Bearer ${TOKEN_API}`,
  },
});
const info = await respuesta.json();
console.log(info);

const streamer = info.data


---

<div
  id="recomended"
  class="border-2 border-black h-screen  flex flex-col w-full
     overflow-x-scroll"
>
  <div class="flex mx-3 mt-2">
    <p class="font-semibold text-lg">
      <span class="font-semibold text-cyan-600">Live channels</span>
      we think you’ll like
    </p>
  </div>

  <!-- iteramos con un map  -->
  <div
    class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-2 gap-x-2 "
  >
    {
      streamer.map((stream) => (
        <div class="flex flex-col  w-full h-auto  border-[2px] border-black/30  rounded-sm m-1 ">
          <img
            class="w-full h-auto bg-cover "
            src={stream.thumbnail_url.replace("{width}x{height}", "300x200")}
            alt="imagen"
          />
          <div class="flex jus items-center content-center mx-3">
            <img
              src={`https://unavatar.io/${stream.user_name}`}
              class=" rounded-full size-12 mt-2 mr-2"
              alt="imagen"
            />
            <p class="font-xs font-bold whitespace-nowrap overflow-hidden text-ellipsis  ">
              {stream.title}
            </p>
          </div>
          <div class=" flex flex-col mt-1 gap-y-1 mx-3 ">
            <p>{stream.user_name}</p>
            <p>{stream.type}</p>
          </div>
          <div class="  grid grid-cols-6 md:grid-cols-6 my-3 gap-y-2 ">
            <button class=" scale-90 border-2 border-gray-600 mx-2 rounded-full justify-center items-center min-w-max hover:transition-all hover:scale-95 ">
              {stream.language}
            </button>
          </div>
        </div>
      ))
    }
  </div>
</div>
